{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="http://127.0.0.1:9000/">
    <!-- <base href="http://192.168.1.15:9000/"> -->
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css'%}">
    <!-- Bootstrap JS -->
    <script src="{% static '/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'jquery-3.6.4.min.js'%}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    {% block head %}{% endblock %}

</head>

<body>
    <header>
        <nav>
            <div class="navbar-vertical flex-column bg-dark text-white" style="height: 100vh">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="feeds/" class="nav-link text-white">
                            <span class="bi bi-book"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="feeds/readed" class="nav-link text-white">
                            <span class="bi bi-book-fill"></span>
                        </a>
                    </li>
                    <li>
                        <a href="feeds/manager" class="nav-link text-white">
                            <span class="bi bi-rss"></span>
                        </a>
                    </li>
                    <li>
                        <a href="feeds/filter" class="nav-link text-white">
                            <span class="bi bi-funnel"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <!-- <footer>
        <div style="text-align: center;">&copy; 2023 RSS Reader</div>
    </footer> -->
    <script src="{% static 'navbar.js'%}"></script>
    <link rel="stylesheet" href="{% static 'navbar.css'%}">
    {% block extra_scripts %}{% endblock %}
</body>

</html>