{% extends 'base.html' %}
{% load static %}


{% block extra_head %}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
  /* 覆盖card-link 类的样式，否则整体变蓝色+下划线 */
  .card-link {
    color: inherit;
    text-decoration: none;
  }

  .card-link:hover {
    color: inherit;
    text-decoration: none;
  }



  /* 卡片组底部增加点边距 */
  div.container-fluid {
    margin-bottom: 20px;
  }

  /* 阅读后样式 */
  .card-gray {
    background-color: #f5f5f5;
    opacity: 0.8;
  }


  .card {
    height: 180px;
    overflow: hidden;
  }

  #card_group {
    margin-top: 20px;
  }

  .nav-link {
    width: 100%;
    text-align: left;
  }

  a.nav-link:hover {
    background: rgb(106, 106, 107)
  }

  #sidber,
  nav.nav-link {
    padding: 0;
  }

  /* 设置中间按钮组位置 */
  .button-group-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  /* 模态窗口使用 */
  .dropdown-menu {
    /* 设置下拉长度与按钮一致 */
    width: 383px;
  }

  /* 载入rss源数据动画 */
  .loading {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .loading-dot {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 8px;
    border-radius: 50%;
    background-color: #333;
    animation: loading 1.5s ease-in-out infinite;
  }

  .loading-dot:nth-child(2) {
    animation-delay: 0.25s;
  }

  .loading-dot:nth-child(3) {
    animation-delay: 0.5s;
  }

  @keyframes loading {

    0%,
    100% {
      transform: scale(0);
    }

    50% {
      transform: scale(1);
    }
  }
</style>


{% endblock %}


{% block content %}


<!-- Button group -->
<div class="button-group-container">
  <div class="btn-group float-end" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-secondary" id="filter" data-bs-toggle="modal"
      data-bs-target="#add-filter-modal">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
        viewBox="0 0 16 16">
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
      </svg>
      <button type="button" class="btn btn-outline-secondary" id="sync">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
        </svg>
      </button>
      <!-- <button type="button" class="btn btn-outline-secondary" id="archive">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive"
          viewBox="0 0 16 16">
          <path
            d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
        </svg>
      </button> -->
      <button type="button" class="btn btn-outline-secondary" id="all_read">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-all"
          viewBox="0 0 16 16">
          <path
            d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z" />
          <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z" />
        </svg>
        <span>全部已读</span>
      </button>
  </div>
</div>

<!-- 加载动画 -->

<div id="loading" class="loading">
  <div class="loading-dot"></div>
  <div class="loading-dot"></div>
  <div class="loading-dot"></div>
</div>



<!-- Modal for adding new RSS feed -->
<div class="modal fade" id="add-filter-modal" tabindex="-1" aria-labelledby="add-feed-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Search Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="search-form">
          <div class="mb-3">
            <label for="keyword" class="col-form-label">Keyword:</label>
            <input type="text" class="form-control" id="keyword-input">
          </div>
          <div class="input-group mb-3">
            <label for="author" class="input-group-text">Author:</label>
            <button class="btn btn-outline-secondary dropdown-toggle flex-grow-1" type="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Select Author
            </button>
            <ul class="dropdown-menu" aria-labelledby="author-dropdown">
              {% for name in name_list %}
              <li><a class="dropdown-item" href="#" data-value="{{ name }}">{{ name }}</a></li>
              {% endfor %}
            </ul>
            <input type="hidden" name="author" id="author-input">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="search-btn">Search</button>
      </div>

    </div>
  </div>
</div>



<div class="container-fluid">
  <div id='content' class="col-md-12">
    <!-- 主内容 -->
    <div id='card_group' class="row row-cols-4 gx-4 gy-4">
      {% for article in articles %}
      {% if not article.read_state %}
      <div class="col">
        <div class="card" data-article-id="{{ article.pk }}">
          <a href="{{ article.link }}" class="card-link" target="_blank">
            <div class="card-body">
              <h5 class="card-title text-truncate">{{ article.title }}</h5>
              <p class="card-text d">{{ article.summary|truncatechars:65 }}</p>
            </div>
            <div class="card-footer position-absolute bottom-0 start-0 end-0 text-end text-muted small">
              <!-- {{article.pub_date | date:"Y-m-d" }} -->
              {{ article.pub_date }}
            </div>
          </a>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
</div>



<script>
  $(document).ready(function () {
    // 当用户点击 dropdown item 时，将 item 的值写入 input 的 value 中
    $('.dropdown-item').click(function () {
      var value = $(this).data('value');
      $('#author-input').val(value);
      $(this).closest('.input-group').find('.dropdown-toggle').text($(this).text());
    });
  });

  // 同步按钮点击事件
  $("#sync").click(function () {
    // 显示loading
    $('<div class="loading"></div>').appendTo('body');
    $('.loading').css('display', 'flex');
    $(".loading").show();

    // 发送请求
    $.ajax({
      url: "/feeds/",
      type: "POST",
      data: { upload: "true" },
      success: function (data) {
        // 隐藏loading
        $(".loading").hide();

        // 刷新页面
        window.location.reload();
      },
      error: function (xhr, status, error) {
        console.log("An error occurred while syncing feeds");
      },
    });
  });
  // 将单个卡片的点击事件封装成函数
  function markCardAsRead(article_id) {
    var url = "/feeds/mark-as-read/" + article_id + "/";
    $.ajax({
      url: url,
      type: "POST",
      dataType: "json",
      data: { csrfmiddlewaretoken: "{{ csrf_token }}" },
      success: function (data) {
        console.log("Article " + article_id + " marked as read");
      },
      error: function (xhr, status, error) {
        console.log("An error occurred while marking the article as read");
      },
    });
  }

  function card_addCickEvent() {
    // 为所有卡片增加点击事件，左键点击和中键点击的时候，卡片变灰色
    const cards = document.querySelectorAll('.card-link');
    cards.forEach(card => {
      card.addEventListener('mousedown', function (event) {
        if (event.which === 1 || event.which === 2) {
          this.closest('.card').classList.add('card-gray');
          const article_id = this.closest('.card').dataset.articleId;
          markCardAsRead(article_id);
        }
      });
    });

    // 全部已读按钮的点击事件
    $("#all_read").click(function () {
      $(".card-link").each(function () {
        var article_id = $(this).closest(".card").data("article-id");
        markCardAsRead(article_id);
        // $(this).closest(".card").remove();
        this.closest('.card').classList.add('card-gray');

      });
      // setTimeout(() => {
      //   window.location.reload();
      // }, 2000);
    });

  }

  $(document).ready(function () {
    card_addCickEvent() // 所有卡片增加点击事件+按钮添加点击事件
  });

  // 筛选器
  $(document).ready(function () {
    $("#search-btn").click(function () {
      var keyword = $("#keyword-input").val();
      var author = $("#author-input").val();
      $.ajax({
        url: "feeds/search/",
        type: "POST",
        data: { keyword: keyword, author: author },
        dataType: "json",
        success: function (data) {
          // 这里的data是从服务器端返回的响应数据，可以通过该对象来获取响应数据
          // 因为使用的是dataType: "json"，所以data会被解析成一个 JSON 对象。

          $('#card_group').empty(); // 清空已有卡片
          $('#add-filter-modal').modal('hide'); // 关闭模态窗口
          // 循环遍历所有文章
          for (var i = 0; i < data.length; i++) {
            var article = data[i];

            // 生成HTML代码
            var cardHtml = '<div class="col">' +
              '<div class="card" data-article-id="' + article.id + '">' + // 添加 data-article-id 属性
              '<a href="' + article.link + '" class="card-link" target="_blank">' +
              '<div class="card-body">' +
              '<h5 class="card-title text-truncate">' + article.title + '</h5>' +
              '<p class="card-text d">' + article.summary + '</p>' +
              '</div>' +
              '<div class="card-footer position-absolute bottom-0 start-0 end-0 text-end text-muted small">' +
              article.pub_date +
              '</div>' +
              '</a>' +
              '</div>' +
              '</div>';

            // 添加到页面
            $('#card_group').append(cardHtml);

            // 为新生成的所有卡片，绑定点击事件
            card_addCickEvent();
          }
        },
        error: function (xhr, status, error) {
          console.log("An error occurred while searching");
        }
      });
    });
  });
</script>

{% endblock %}