{% extends 'base.html' %}

{% block title %}Rss filter{% endblock %}

{% block head %}
<style>
    /* 设置按钮组位置 */
    .button-group-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .delete-button {
        display: inline-block;
        position: absolute;
        right: 2px;
        bottom: 1px;
        box-sizing: border-box;
        height: 37px;
    }

    li.list-group-item {
        position: relative;
    }
</style>
{% endblock %}

{% block content %}


<!-- Button group -->
<div class="button-group-container">
    <div class="btn-group float-end" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
            data-bs-target="#add-keyword-modal">Add</button>
        <button type="submit" name="action" value="delete" class="btn btn-outline-danger">Delete</button>
    </div>
</div>

<!-- 过滤词列表组 -->
<div class="d-flex justify-content-center py-4">
    <div class="w-75">
        <div class="list-group" id="accordionExample">
            <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#collapseOne"
                aria-expanded="false" aria-controls="collapseOne">
                标题
            </a>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="list-group">
                    {% for title_kw in data.filter_title %}
                    <li class="list-group-item">{{ title_kw }}</li>
                    {% endfor %}
                </div>
            </div>

            <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
                描述
            </a>

            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="list-group">
                    {% for summary_kw in data.filter_summary %}
                    <li class="list-group-item">{{ summary_kw }}</li>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal for adding new RSS feed -->
<div class="modal fade" id="add-keyword-modal" tabindex="-1" aria-labelledby="add-feed-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-feed-modal-label">Add New KeyWord</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="add-feed-form">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <label for="KeyWord" class="col-sm-2 col-form-label">关键字</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="KeyWord" name="KeyWord">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="type" class="col-sm-2 col-form-label">Type</label>
                        <div class="col-sm-10">
                            <div>
                                <input type="checkbox" name="type" value="filter_title" id="type-title">
                                <label for="type-title" class="form-check-label">标题</label>
                            </div>
                            <div>
                                <input type="checkbox" name="type" value="filter_summary" id="type-summary">
                                <label for="type-summary" class="form-check-label">描述</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="add-button">Add</button>
            </div>
        </div>
    </div>
</div>




<script>
    // 列表聚焦效果
    const accordionItems = document.querySelectorAll('.list-group-item-action');
    accordionItems.forEach(item => {
        item.addEventListener('click', () => {
            accordionItems.forEach(i => {
                if (i !== item) {
                    i.classList.remove('active');
                }
            });
            item.classList.toggle('active');
        });
    });


    $(document).ready(function () {

        $("#add-button").click(function () {
            var types = $('input[name="type"]:checked');
            if (types.length === 0) {
                alert('请至少选择一个类型');
                return;
            }
            $.ajax({
                url: "/feeds/filter-add/",
                type: "POST",
                data: $("#add-feed-form").serialize(),
                success: function () {
                    window.location.reload();
                }
            });
        });
    });


    // 删除按钮功能
    $("button[name='action'][value='delete']").click(function () {
        // 找到所有 li.list-group-item 元素
        var listItems = $("li.list-group-item");

        // 如果按钮已经处于 active 状态，则移除该状态并删除所有删除按钮
        if ($(this).hasClass("active")) {
            $(this).removeClass("active");
            $(".btn-secondary.delete-button").remove();
        } else {
            // 否则，为按钮添加 active 类，然后为每个列表项添加删除按钮
            $(this).addClass("active");
            console.log(listItems)
            $.each(listItems, function (index, listItem) {
                // 在每个元素的内部添加删除按钮
                var deleteButton = $("<button/>")
                    .addClass("btn btn-secondary delete-button")
                    .html('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16"><path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/></svg>')
                    .click(function () {
                        // 当删除按钮被点击时执行
                        var KeyWord = $(listItem).contents().filter(function () {
                            return this.nodeType === Node.TEXT_NODE;
                        }).text().trim();


                        // 发送 AJAX 请求删除对应的源
                        $.ajax({
                            url: "/feeds/filter-delete/",
                            method: "POST",
                            data: {
                                "name": KeyWord
                            },
                            success: function (response) {
                                // 当 AJAX 请求成功时执行
                                if (response.success) {
                                    // 从页面上删除对应的 li.list-group-item 元素
                                    $(listItem).remove();
                                } else {
                                    // 显示错误信息
                                    alert(response.message);
                                }
                            },
                            error: function () {
                                // 当 AJAX 请求出错时执行
                                alert("An error occurred while deleting the feed.");
                            }
                        });
                    });

                // 将删除按钮添加到列表项内部
                $(listItem).append(deleteButton);
            });
        }
    });
</script>

{% endblock %}